
.counter-container {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100px;
  width: 150px;
  margin-top: -50px;
  margin-left: -50px;
  text-align: center;
}

.counter-container .counter-display {
  font-size: 48px;
}

.counter-container .counter-control {
  display: flex;
  justify-content: space-between;
}

.counter-container .counter-control button {
  width: 65px;
  height: 40px;
  border-radius: 8px;
  border-style: none;
  cursor: pointer;
}

#counter-minus {
  background-color: rgb(231, 1, 16);
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
  
}

#counter-minus:hover {
  background-color: rgba(231, 1, 16, 0.7);
}

#counter-plus {
  background-color: rgb(22, 124, 211);
  box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
  box-sizing: border-box;
  color: #fff;
}

#counter-plus:hover {
  background-color: rgba(22, 124, 211, 0.8);
}

.counter-container #positive-text {
  margin-top: 12px;
  color: rgb(22, 124, 211);
  font-style: italic;
}

.counter-container #negative-text {
  margin-top: 12px;
  color: rgb(231, 1, 16);
  font-style: italic;
}